{% extends "base_generic.html" %}

{% block content %}
    <main>
        {% if validlink %}
            <p>Please enter (and confirm) your new password.</p>
            <form action="" method="post">
            {% csrf_token %}
                <div>
                    <section>
                        <div>{{ form.new_password1.errors }}
                            <label for="id_new_password1">New password:</label></div>
                        <div>{{ form.new_password1 }}</div>
                    </section>
                    <section>
                        <div>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirm password:</label></div>
                        <div>{{ form.new_password2 }}</div>
                    </section>
                    <section>
                        <div></div>
                        <div><input type="submit" value="Change my password" /></div>
                    </section>
                </div>
            </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </main>
{% endblock %}